*{
    margin: 0;
}

h1{
    text-align: center;
}

h3{
    text-align: center;
}

#to-do-list > div{
    display: flex;
    justify-content: space-around;
}

#container {
    display: flex;
    position: relative;
}

#container > div:first-child{
    flex: 1;
}

#container > div:nth-child(2){
    flex: 3;
}

#to-do-list > div{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
}

#project-container{
    border-right: 2px solid black;
    height: 100vh;
 
}

#project-container > div:first-child{
    display: flex;
    margin-top: 5px;
    padding: 2px;
    border-bottom: 1px solid gray;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

#project-container > ul{
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    padding: 0;
    gap: 1rem;

}

#project-container > ul > li{
    list-style: none;
    display: flex;
    justify-content: center;
    width: 100%;
    position: relative;

}

#project-container > ul > li > button{
    border: none;
    padding: 1px 4px;
    position: absolute;
    right: 20px;
    background-color: white;
    font-weight: bolder;
    display: none;
}

#project-list > li:hover .delete-project-button{
    display: block;
    color: red;
}

#add-to-do-button{
    margin-left: 4px;
}


.modal-content{
    margin: auto;
}

#project-button{
    margin-left: 5px;
} 


dialog {
    padding: 3rem 4rem;
    border: 5px solid gray;
    /* border: none; */
    position: fixed;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
}


dialog > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1em;
}

.close-button,
.close-task{
    position: fixed;
    top: 0;
    right: 0;
    margin: 5px;
}


#task-button{
    margin: 10px;
}

#form-input-container > div > div{
    display: flex;
    flex-direction: column;
}

#form-input-container > div{
    display: flex;
    flex-direction: column;
}

#form-input-container{
    display: flex;
    gap: 1.5rem;
}

#to-do-list > div > button{
    width: fit-content;
    justify-self: center;
}


/* add on hover over projects show delete minus */