*{
    margin: 0;
    font-family: "Roboto", sans-serif;
}


h1{
    text-align: center;
}

h3{
    text-align: center;
}

#to-do-list > div{
    display: flex;
    justify-content: space-around;
}

#container {
    display: flex;
    position: relative;
}

#container > div:first-child{
    flex: 1;
}

#container > div:nth-child(2){
    flex: 3;
}

#to-do-list > div{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    justify-items: center;
}

#project-container{
    /* border-right: 2px solid black; */
    height: 100vh;
    background-color: rgb(0, 0, 0, .9);
    color: rgb(187, 146, 69, 0.5);
}

#main-container{
    background-color: rgb(187, 146, 69, 0.5);

}

#project-container > div:first-child{
    display: flex;
    margin: 5px;
    padding: 2px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

#project-container > div:first-child,
#header{
    padding: 10px;
}

#project-container > ul{
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    padding: 0;
    /* gap: .5rem; */

}

#project-container > ul > li{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative;
    padding: .5rem 0;
}

#project-container > ul > li:first-child{
    border-top: 1px solid rgb(255, 138, 59);
    border-bottom: 1px solid rgb(255, 138, 59);
    border-right: none;
    border-left: none;
    padding: 5px 0;
}   

#project-container > ul > li > button{
    display: none;
    border: none;
    position: absolute;
    right: 20px;
    border-radius: 25px;
    padding: 3px;
}

.delete-project-button > svg{
    pointer-events: none;
}

#project-list > li:hover > .delete-project-button{
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(105, 42, 0);

}



#project-list > li:hover{
    background-color: rgba(97, 108, 132, 0.271);
    /* background-color: brown; */
    /* width: 100%; */
}

#add-to-do-button{
    margin-left: 4px;
}


.modal-content{
    margin: auto;
}

#project-button{
    margin-left: 10px;
    background-color: rgb(255, 138, 59);
    height: 20px;
    border: none;
    border-radius: 25px;
} 


dialog {
    padding: 3rem 4rem;
    /* border: none; */
    position: fixed;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(0, 0, 0, 0.9);
    color: #d39441;
    /* display: flex; */
}


dialog > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1em;
}

#delete-project-modal{
    border: 5px solid red;

}

.close-button,
.close-task{
    position: fixed;
    top: 0;
    right: 0;
    margin: 5px;
    border: none;
    color: #d39441;
}


#task-button{
    margin: 10px;
    border: none;
    padding: 5px;
    background-color: rgb(255, 138, 59);
    font-weight: 300;
    border-radius: 5px;
}

#to-do-form > legend{
    margin-bottom: 10px;
}

/* grid layout two columns description takes up two columns notes goes under title */

#form-input-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
    margin-bottom: 5px;
}

#desc-container{
    grid-column: 1/3;

}


#form-input-container > div{
    display: flex;
    flex-direction: column;
}


#to-do-list > div > button{
    width: fit-content;
    justify-self: center;
}



.delete-btn,
.expand-to-do-button{
    /* height: 25px; */
    align-self: start;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    padding: 0;
    background-color: rgb(187, 146, 69, 0);
}



.delete-btn > svg, 
.expand-to-do-button > svg{
    pointer-events: none;
}


#confirm-delete-project{
    color: red;
}

#modal-button-container{
    display: flex;
    gap: 10px;
}

#title-container > p > span{
    font-weight: bolder;
    border-bottom: 1px solid black;
}

#title-container > p{
    margin-bottom: 10px;
}