*{
    margin: 0;
    font-family: "Roboto", sans-serif;
}


h1{
    text-align: center;
}

h3{
    text-align: center;
}

#to-do-list > div{
    display: flex;
    justify-content: space-around;
}

#container {
    display: flex;
    position: relative;
}

#container > div:first-child{
    flex: 1;
}

#container > div:nth-child(2){
    flex: 3;
}

#to-do-list > div{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
}

#project-container{
    border-right: 2px solid black;
    height: 100vh;
    background-color: rgb(187, 146, 69, 0.1);
}

#project-container > div:first-child{
    display: flex;
    margin: 5px;
    padding: 2px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

#project-container > ul{
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    padding: 0;
    /* gap: .5rem; */

}

#project-container > ul > li{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative;
    padding: .5rem 0;
}

#project-container > ul > li:first-child{
    border: 1px solid black;
    padding: 5px 0;
}   

#project-container > ul > li > button{
    display: none;
    border: none;
    position: absolute;
    right: 20px;
    border-radius: 25px;
    padding: 3px;
}

.delete-project-button > svg{
    pointer-events: none;
}

#project-list > li:hover > .delete-project-button{
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 215, 140);

}



#project-list > li:hover{
    background-color: rgba(97, 108, 132, 0.271);
    /* background-color: brown; */
    /* width: 100%; */
}

#add-to-do-button{
    margin-left: 4px;
}


.modal-content{
    margin: auto;
}

#project-button{
    margin-left: 10px;
    background-color: rgb(253, 212, 135);
    height: 20px;
    border: none;
    border-radius: 25px;
} 


dialog {
    padding: 3rem 4rem;
    border: 5px solid gray;
    /* border: none; */
    position: fixed;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
}


dialog > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1em;
}

.close-button,
.close-task{
    position: fixed;
    top: 0;
    right: 0;
    margin: 5px;
}


#task-button{
    margin: 10px;
    border: none;
    padding: 5px;
    background-color: rgb(255, 226, 171);
    font-weight: 300;
    border-radius: 5px;
}

#form-input-container > div > div{
    display: flex;
    flex-direction: column;
}

#form-input-container > div{
    display: flex;
    flex-direction: column;
}

#form-input-container{
    display: flex;
    gap: 1.5rem;
}

#to-do-list > div > button{
    width: fit-content;
    justify-self: center;
}



/* add on hover over projects show delete minus */